@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .list {
        @apply flex p-0 items-center list-none text-white;
    }

    .list-item {
        @apply m-[20px] font-[500];
    }
}

@layer components {
    .arrow-container {
        @apply absolute w-[10%] h-[20%] top-0 bottom-0 m-auto cursor-pointer z-10;
    }

    .featured-container {
        height: calc(100vh - 100px);
        @apply bg-red-500;
    }
}

@layer components {
    .pizzaList_container {
        @apply py-[20px] px-[10px] flex flex-col items-center;
    }

    .pizzaList_description {
        @apply text-[24px] text-[#444] w-[70%];
    }

    .pizzaList_wrapper {
        @apply flex items-center justify-center w-[100%] flex-wrap;
    }

    .pizzaCard_container {
        @apply cursor-pointer w-[22%] p-[10px] flex flex-col items-center justify-center py-[20px] px-[40px];
    }

    .pizzaCard_title {
        @apply text-[18px] font-bold text-red-500;
    }

    .pizzaCard_price {
        @apply text-[18px] font-bold text-[#666];
    }
    .pizzaCard_desc {
        @apply text-center text-[#777];
    }
}

@layer components {
    .footer_container {
        height: calc(100vh - 100px);
        @apply flex bg-[#222];
    }

    .footer_item {
        @apply flex relative flex-1;
    }

    .footer_item:last-child {
        @apply flex-2 p-[50px] justify-between;
    }

    .footer_motto {
        color: rgb(211, 211, 211);
    }

    .footer_card {
        @apply flex-1 px-[20px];
    }

    .footer_text {
        @apply text-[lightgray] py-2;
    }

    .footer_title {
        @apply text-[18px] text-[#b7903c];
    }

    @media screen and (max-width: 480px) {
        .container {
            height: auto;
            text-align: center;
        }
        .item:first-child {
            display: none;
        }

        .item {
            flex-direction: column;
        }

        .title {
            font-size: 30px;
        }

        .text {
            font-size: 20px;
        }
    }
}
